*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}
.main__container{
    padding-top: 109px;
    .first-section{
        display: flex;
        gap: 80px;
        justify-content: space-between;
        margin-bottom: 67px;
    }
    .about-hero {
        h1{
            font-family:"Exo 2";
            font-size: 52px;
            font-weight: 600;
            line-height: 65px;
            color: rgba(54, 55, 56, 1);
            margin-bottom: 40px;
            margin-top: 71px;
        }
        .hero-text{
            font-family: "PT Sans";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: rgba(107, 107, 108, 1);
            margin-bottom: 40px;
        }
        span{
            font-family: "PT Sans";
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            color: rgba(54, 55, 56, 1);
            border-bottom: 3px solid rgba(255, 206, 80, 1);
        }
    }
    .second-section{
        display: flex;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
        padding: 40px 122px 40px 80px;
        gap: 105px;
        border-radius: 20px;
        margin-bottom: 67px;

        .second-section-menu{
            border-left: 1px solid rgba(215, 215, 221, 1);
            padding-left: 64px;
        }

        img{
            width: 92px;
            height: 92px;
            margin-bottom: 24px;
        }

        h2{
            font-family: "Exo 2";
            font-size: 20px;
            font-weight: 600;
            line-height: 27px;
            color: rgba(54, 55, 56, 1);
            margin-bottom: 16px;
        }

        p{
            font-family: "PT Sans";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: rgba(107, 107, 108, 1);
        }
    }
    .third-section{
        background-image: url(/images/third-section-back-img.png);
        margin-bottom: 73px;
        position: relative;
        h2{
            position: absolute;
            top: 178px;
            left: 90px;
            width: 362px;
            font-family: "Exo 2";
            font-size: 48px;
            font-weight: 600;
            line-height: 60px;
            color: rgba(255, 255, 255, 1);
        }
    }
    .fourth-section{
        display: flex;
        align-items: center;
        gap: 140px;
        margin-bottom: 120px;
        padding-left: 66px;
        .fourth-section-menu{
            width: 447px;
            display: flex;
            gap: 40px;
            align-items: center;
            h4{
                font-family: "Exo 2";
                font-size: 20px;
                font-weight: 600;
                line-height: 27px;
                color: rgba(54, 55, 56, 1);
                margin-bottom: 16px;
            }
            p{
                font-family: "PT Sans";
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: rgba(107, 107, 108, 1);
            }
        }
        .fourth-section-one{
            margin-bottom: 62px;
        }
    }
    .fifth-section{
        margin-bottom: 212px;
        .fifth-section-enterance{
            h3{
                font-family: "Exo 2";
                font-size: 48px;
                font-weight: 600;
                line-height: 60px;
                color: rgba(54, 55, 56, 1);
                margin-bottom: 32px;
            }
            p{
                width: 465px;
                font-family: "PT Sans";
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: rgba(107, 107, 108, 1);
                margin-bottom: 56px;
            }
        }
        .fifth-section-cards{
            display: flex;
            gap: 30px;
            justify-content: space-between;
            align-items: center;
        }

        .fifth-section-card{
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
            border-radius: 10px;
            padding-bottom: 32px;
            h4{
                font-family: "Exo 2";
                font-size: 20px;
                font-weight: 600;
                line-height: 27px;
                color: rgba(54, 55, 56, 1);
                margin-top: 24px;
                margin-left: 32px;
                margin-bottom: 16px;
            }
            p{
                font-family: "PT Sans";
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: rgba(107, 107, 108, 1);
                margin-left: 32px;
                margin-bottom: 32px;
                margin-right: 70px;
            }
            span{
                padding-bottom: 6px;
                font-family: "Exo 2";
                font-size: 16px;
                font-weight: 600;
                line-height: 21.6px;
                color: rgba(54, 55, 56, 1);
                border-bottom: 3px solid rgba(255, 206, 80, 1); 
                margin-left: 32px;
            }
        }
    }
    .sixth-section{
        margin-bottom: 120px;
        display: flex;
        padding: 85px 66px 85px 81px;
        background-color: 
        rgba(11, 117, 114, 1);
        h3{
            font-family: "Exo 2";
            font-size: 48px;
            font-weight: 600;
            line-height: 60px;
            color: rgba(255, 255, 255, 1);
            margin-top: 15px;
        }
        .table-sec{
            background-color: white;
            padding: 28px 32px 40px;
            width: 652px;
        }
        .table-header{
            display: flex;
            gap: 194px;
            padding-bottom: 32px;
            margin-bottom: 32px;
            border-bottom: 1px solid rgba(215, 215, 221, 1);
            img{
                width: 103px;
                height: 56.49px;
            }
            p{
                width: 274px;
                font-family: "PT Sans";
                font-size: 11px;
                font-weight: 400;
                line-height: 16.5px;
                color: rgba(107, 107, 108, 1);
                
            }
        }
        .table-enterance{
            margin-bottom: 8px;
            width: 588px;
            height: 45px;
            border: none;
            background-color: 
            rgba(11, 117, 114, 1);
            font-family: "Exo 2";
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            text-align: left;
            color: rgba(255, 255, 255, 1);
            display: flex;
            gap: 26px;
            padding: 5px;
            padding-left: 32px;
            
            span{
                padding-right: 36px;
                border-right: 1px solid 
                rgba(0, 0, 0, 0.2);
                text-align: center;
                padding-top: 6px;
            }
            .contact-table{
                border-right: none;
            }
        }
        table{
            border-collapse: collapse;
            background-color: rgba(249, 249, 251, 1);
            padding: 8px 16px 24px 16px;
            td>img{
                width: 81px;
                height: 74px;
            }
            p{
                font-family: "PT Sans";
                font-size: 14px;
                font-weight: 400;
                line-height: 18.9px;
                color: rgba(107, 107, 108, 1);
            }
            .money{
                font-family: "Exo 2";
                font-size: 14px;
                font-weight: 600;
                line-height: 18.9px;
                color: rgba(54, 55, 56, 1);
            }
            h6{
                font-family:"PT Sans";
                font-size: 14px;
                font-weight: 700;
                line-height: 18.9px;
                color: rgba(54, 55, 56, 1);
            }
            span{
                font-family: "PT Sans";
                font-size: 14px;
                font-weight: 400;
                line-height: 18.9px;
                color: rgba(54, 55, 56, 1);
            }
            td{
                border: 1px solid rgba(0, 0, 0, 0.2);
            }
            .one{
                border-top: none;
                border-left: none;
                width: 109px;
                margin-top: 8px;
            }
            .two{
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-top: none;
                width: 138px;
                p{
                    margin-bottom: 10px;
                }
            }
            .three{
                width: 185px;
                border-top: none;
                h6{
                    margin-top: 16px;
                    margin-bottom: 10px;
                }
                p{
                    margin-bottom: 12px;
                }
            }
            .four{
                border-top: none;
                border-right: none;
                p{
                    margin-top: 12px;
                    margin-bottom: 10px;
                }
            }
            td{
                padding-top: 8px;
                padding-bottom: 24px;
                padding-left: 16px;
                padding-right: 20px;
                text-align:top;
                h6{
                    margin-bottom: 10px;
                }
                p{
                    margin-bottom: 12px;
                }
            }
            .five{
                border-left: none;
            }
            .six{
                border-right: none;
            }
            .seven{
                border-bottom: none;
                border-left: none;
            }
            .eight{
                border-bottom: none;
            }
            .nine{
                border-bottom: none;
                border-right: none;
            }
        }
        

    }
    .seventh-section{
        margin-bottom: 120px;
        h3{
            font-family: "Exo 2";
            font-size: 48px;
            font-weight: 600;
            line-height: 60px;
            color: rgba(54, 55, 56, 1);
            margin-bottom: 48px;
        }
        .seventh-card-one{
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
            margin-left: 49px;
            display: flex;
            gap: 56px;
            padding: 32px 132px 32px 96px;
            margin-bottom: 24px;
        }
        img{
            width: 331px;
            height: 181px;
        }
        .seventh-card-one-text{
            h4{
                font-family: "Exo 2";
                font-size: 20px;
                font-weight: 600;
                line-height: 25px;
                color: rgba(54, 55, 56, 1);
                margin-bottom: 24px;
            }
            hr{
                width: 86px;
                margin-bottom: 24px;
                border: 2px solid rgba(255, 206, 80, 1)
            }
            p{
                font-family: "PT Sans";
                width: 568px;
                color: rgba(107, 107, 108, 1);
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                
            }
        }
    }
    .ninth-section{
        h3{
            font-family: "Exo 2";
            font-size: 48px;
            font-weight: 600;
            line-height: 60px;
            color: rgba(54, 55, 56, 1);
            margin-bottom: 90px;
        }
        .ninth-first-line{
            margin-bottom: 71px;
            display: flex;
            .list{
                display: flex;
                text-align: center;
                h5{
                    font-family: "Exo 2";
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 27px;
                    color: rgba(54, 55, 56, 1);
                    margin-bottom: 14px;
                }
                p{
                    font-family: "PT Sans";
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    color: rgba(107, 107, 108, 1);
                      
                }
            }
            .rosatom{
                margin-left: 46px;
                padding-right: 73px;
                border-right:1px solid rgba(215, 215, 221, 1);
                img{
                width: 79px;
                height: 101px;
                margin-bottom: 32px;
                }
            }
            .gazprom{
                margin-left: 60px;
                padding-right: 73px;
                border-right:1px solid rgba(215, 215, 221, 1);
                img{
                    margin-bottom: 57px;
                    width: 150px;
                    height: 72px;
                }
            }
            .rosneft{
                margin-left: 67px;
                padding-right: 67px;
                border-right:1px solid rgba(215, 215, 221, 1);
                img {
                    width: 125px;
                    height: 100px;
                    margin-bottom: 31px;
                }
            }
            .roscosmos{
                margin-left: 49px;
                img{
                    width: 77px;
                    height: 94px;
                    margin-bottom: 34px;
                }
            }
        }
        .ninth-second-line{
            display: flex;
            margin-bottom: 130px;
            .list{
                display: flex;
                text-align: center;
                align-items: center;
                h5{
                    font-family: "Exo 2";
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 27px;
                    color: rgba(54, 55, 56, 1);
                    margin-bottom: 14px;
                }
                p{
                    font-family: "PT Sans";
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    color: rgba(107, 107, 108, 1);
                }
                .lukoyl{
                    margin-left: 53px;
                    padding-right: 64px;
                    border-right:1px solid rgba(215, 215, 221, 1);
                    img{
                    width: 182px;
                    height: 48.54px;
                    margin-bottom: 57.73px;
                    }
                }
                .inter{
                    margin-left: 68px;
                    padding-right: 66px;
                    border-right:1px solid rgba(215, 215, 221, 1);
                    img{
                        width: 95px;
                        height: 88px;
                        margin-bottom: 36px;
                    }
                }
                .rostex{
                    margin-left: 58px;
                    padding-right: 58px;
                    border-right:1px solid rgba(215, 215, 221, 1);
                    img{
                        width: 79px;
                        height: 96.58px;
                        margin-bottom: 34.42px;
                    }
                }
                .bank{
                    margin-left: 67px;
                    text-align: center;
                    img{
                        width: 145px;
                        height: 51.7px;
                        margin-bottom: 59.3px;
                    }
                }
            }
        }
    }
    .tenth-section{
        h3{
            font-family: "Exo 2";
            font-size: 48px;
            font-weight: 600;
            line-height: 60px;
            color: rgba(54, 55, 56, 1);
            margin-bottom: 72px ;
        }
        .tenth-heros{
            display: flex;
            margin-bottom: 24px;
            gap: 30px;
        }
        .tenth-hero{
            width: 605px;
            display: flex;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            .empty-place{
                background-color: rgba(11, 117, 114, 1);
                width: 51px;
                height: 210px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                margin-right: 32px;
            }
            .about-tenth-hero{
                margin-left: 40px;
                margin-top: 47px;
                margin-right: 172px;
                h4{
                    font-family: "Exo 2";
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24px;
                    color: rgba(54, 55, 56, 1);
                    margin-bottom: 12px;
                }
                span{
                    font-family: "PT Sans";
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    color: rgba(107, 107, 108, 1);
                }
                hr{
                    margin-top: 16px;
                    margin-bottom: 31px;
                    width: 86px;
                    border: 2px solid rgba(255, 206, 80, 1)
                }
                .tenth-sec-icoons{
                    display: flex;
                    gap: 20px;
                    align-items: center;
                }
            }   
        }
    }
    .eleventh-section{
        h3{
            font-family: "Exo 2";
            font-size: 48px;
            font-weight: 600;
            line-height: 60px;
            color: rgba(54, 55, 56, 1);
            margin-top: 130px;  
        }
    }
    .adress{
        margin-top: 94px;
        .telefon{
            display: flex;
            align-items: center;
            gap: 36.7px;
            margin-bottom: 44px;
        }
        p{
            font-family: "PT Sans";
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            color: rgba(107, 107, 108, 1);
            margin-bottom: 8px;
        }
        span{
            font-family: "Exo 2";
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            color: rgba(54, 55, 56, 1);
        }
    }
    .eleventh{
        display: flex;
        gap: 198px;
    }
    .about-adress{
        margin-top: 72px;
        background-color: rgba(249, 249, 251, 1);
        border: none;
        border-radius: 5px;
        padding: 40px 72px 56px 48px;
        width: 794px;
        height: 393px;
        margin-bottom: 46px;
        p{
            width: 175px;
            margin-right:56px;
            font-family: "PT Sans";
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: rgba(107, 107, 108, 1);
        }
        span{
            font-family: "Exo 2";
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color: rgba(54, 55, 56, 1);
            
        }
        .polno{
            margin-bottom: 32px;
            display: flex;
            gap: 56px;
            padding-bottom: 16px;
            border-bottom: 1px solid rgba(233, 234, 242, 1)
        }
        .adres{
            border: none;
            p{
                width: 175px;
                margin-right: 150px;
            }
            span{
                font-family: "Exo 2";
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                text-align: left;   
            }
        }
    }
    .twelveth-section{
        margin-bottom: 166px;
        iframe{
            width: 1245px;
            height: 667px;
        }
    }
}
footer{

    padding-top: 59px;
    background-color: rgba(11, 117, 114, 1);
    .footer-text{
        display: flex;
        h3{
            font-family: sans-serif;
            font-size: 60px;
            font-weight: 500;
            line-height: 90px;
            letter-spacing: 0.16em;
            color: rgba(255, 255, 255, 1);
            margin-right: 134px;
        }
        .footer-ul-1 li{
            margin-right: 97px;
            list-style: none;
            font-family: "Exo 2";
            font-size: 13px;
            font-weight: 500;
            line-height: 19.5px;
            letter-spacing: 0.16em;
            color: rgba(255, 255, 255, 1);
            margin-bottom: 25px;
        }
        .footer-ul-2 li{
            list-style: none;
            font-family: "Exo 2";
            font-size: 13px;
            font-weight: 500;
            line-height: 19.5px;
            letter-spacing: 0.16em;
            color: rgba(255, 255, 255, 1);
            margin-bottom: 25px;
        }
        .footer-finally{
            margin-left: 180px;
            .footer-icons{
                display: flex;
                gap: 14.43px;
                align-items: center;
                margin-bottom: 32.18px;
            }
            span{
                font-family: "Exo 2";
                font-size: 13px;
                font-weight: 600;
                line-height: 19.5px;
                color: rgba(255, 255, 255, 1); 
            }
            button{
                width: 271px;
                height: 42px;
                margin-top: 32px;
                border: none;
                display: flex;
                align-items: center;
                gap: 14.42px;
                background-color: rgba(255, 150, 25, 1);
                font-family: "Exo 2";
                font-size: 13px;
                font-weight: 400;
                line-height: 19.5px;
                color: rgba(255, 255, 255, 1);
                text-align: center;
                padding-left: 35px;
            }
        }
    }
    .finally{
        font-family: "Exo 2";
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0.16em;
        text-align: center;
        margin-top: 80px;
        color: rgba(255, 255, 255, 1);
        padding-bottom: 29px;
    }
}
@media screen and (max-width:1220px){
    .container{
        max-width: 1120px;
        width: 100%;
        margin: 0 auto;
    }
    .first-section{
        gap: 70px;
    }
    .about-hero{
        h1{
            font-size: 44px;
        }
        .hero-text{
            font-size: 14px;
        }
        .hero-img img{
            width: 470pxpx;
        }
    }
    .second-section{
        padding: 35px 115px 35px 75px;
        gap: 85px;
    }
    .fifth-section{
        margin-bottom: 180px;
        h3{
            font-size: 44px;
        }
         .fifth-section-enterance p{
            font-size: 14px;
        }
        .fifth-section-cards{
            gap: 25px;
        }
    }
    .sixth-section{
        margin-bottom: 100px;
        padding: 80px 60px 80px 50px;
        h3{
            font-size: 36px;
            margin-right: 20px;
        }
        .table-sec{
            width: 580px;
        }
    }
    .seventh-section{
        margin-bottom: 90px;
        h3{
            font-size: 36px;
        }
        .seventh-card-one{
            margin-left: 38px;
            padding: 28px 120px 25px 84px
        } img{
            width: 300px;
        }
        .seventh-card-one-text{
            h4{
                font-size: 17px;
            }
            hr{
                width: 70px;
            }
            p{
                width: 350px;
                font-size: 12px;
            }
        }
    }
    .ninth-section{
        h3{
            font-size: 36px;
        }
        .ninth-first-line{
            margin-bottom: 50px;
        }
        .list{
            h5{
                font-size: 16px;
            }
            p{
                font-size: 12px;
            }
        }
    }
    .tenth-hero{
        padding-bottom: 10px;
        height: 210px;
        hr{
            margin-bottom: 11px;
        }
    }
    .eleventh-section{
        h3{
            font-size: 36px;
        }
        .telefon span{
            font-size: 16px;
            font-weight: 500        ;
        }
        .about-adress{
            padding: 30px 62px 56px 38px;
            width: 704px;
            height: 333px;
            span{
                font-size: 14px;
                font-weight: 400;
            }
            .adres span{
                font-size: 14px;
                font-weight: 400;
                line-height: 15px;
            }
            .polno{
                margin-bottom: 22px;
            }
        }
    }
    .twelveth-section{
        margin-bottom: 106px;
        iframe{
            width: 1020px;
            height: 567px;
        }
    }
    footer{
        button{
            width: 201PX;
            height: 42px;
            margin-top: 32px;
            border: none;
            display: flex;
            align-items: center;
            gap: 14.42px;
            background-color: rgba(255, 150, 25, 1);
            font-family: "Exo 2";
            font-size: 10px;
            font-weight: 300;
            line-height: 15.5px;
            color: rgba(255, 255, 255, 1);
            text-align: center;
            padding-left: 25px;
        }
    }
}
@media screen and (max-width:1120px){
    .container{
        max-width: 960px;
        width: 100%;
    }
    .sixth-section{
        display: block;
    }
    .fifth-section-card{
        margin-bottom: 0px;
    }
    .seventh-section{
        margin-top: 0px;
    }
    
  
}
@media screen and (max-width:960px){
    .container{
        max-width: 690px;
        width: 100%;
    }
    .second-section{
        display: block;
        box-shadow: none;
        margin-bottom: 40px;
    }
    .third-section{
        .back-img{
            width: 60%;
        }
    }
}